body {
  font-family: Hack, monospace;
  background-color: #000000;
  color: #4aff75;
  margin: 0;
  padding: 0;
}

.container {
  background: #4a4a4a;
  padding: 30px;
  margin: 60px auto;
  border-radius: 8px;
  max-width: 700px;
}

h1 {
  animation-duration: 3s;
  animation-name: text-slide;
}

@keyframes text-slide {

  0% {
    transform: translateX(150vw) scale(2);
  }

  25% {
    transform:scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: translateX(0vw) scale(1);
  }
  
}

nav {
  width: 100%;
  background-color: #4a4a4a;
  border-bottom: 4px solid #4aff75;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 15px 30px;
  display: flex;
  gap: 20px;
  align-items: center;
}

nav a {
  color: #4aff75;
  text-decoration: none;
  font-weight: normal;
}

nav a:hover {
  font-weight: bold;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  border: 4px solid #4aff75;
}

.profile-pic1 {
  transform: rotate(270deg);
  width: 250px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  border: 4px solid #4aff75;
}

h1 {
  color: #4aff75;
}
