body {
  font-family: Hack, monospace;
  background-color: #000000;
  color: #4aff75;
  max-width: 700px;
  margin: 60px auto;
  padding: 20px;
}

.container {
  background: #4a4a4a;
  padding: 30px;
  border-radius: 8px;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
  margin: 0 auto;
  border: 2px solid #4aff75;
}

h1 {
  color: #4aff75;
}
