body {
  font-family: Hack, monospace;
  background-color: #000000;
  color: #4aff75;
  max-width: 700px;
  margin: 60px auto;
  padding: 20px;
}

.container {
  background: #4a4a4a;
  padding: 30px;
  border-radius: 8px;
}

.profile-pic {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  border: 4px solid #4aff75;
}

.profile-pic1 {
  transform: rotate(180deg);
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  border: 4px solid #4aff75;
}

h1 {
  color: #4aff75;
}
